* {
    font-family:sans-serif;
    color:white;
}

#navbar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1565c0;
    height:60px;
}

#navbar li:not(.left) {
    float: right;
}
#navbar li.left {
    float: left;
}

#navbar a {
    display: block;
    padding: 15px 15px;
    text-decoration: none;
    font-size:30px;
}

#navbar a:not(#title):hover {
    background-color: #333;
}

#navbar a.active {
    background-color: #333;
}

body {
    /*background-image: url("background.png");
    background-repeat:no-repeat;*/
    background-color:black;
}
#content {
    position:absolute;
    top:50px;
    left:10px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    width:auto;
    font-size:large;
}


th {
    background-color: #1565c0;
    background-blend-mode: darken;
    color: white;
}
p, li {
    font-size:x-large;
}